body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

* {
    box-sizing: border-box
}

main {
    display: grid;
    place-items: center;
    Height: 100vh;


}

h1 {
    font-size: 3rem;
}

article {
    color: blue;
    /* animation: basic 2s ease forwards; */
    animation: moveAround 3s ease;

}

@keyframes moveAround {
    0% {
        transform: translateX(0) translateY(0) scale(1);
        color: orangered;
    }

    20% {
        transform: translateX(-100px) translateY(20px) scale(1.4);
    }

    50% {
        transform: translateX(-200px) translateY(-200px) scale(1);
    }

    80% {
        transform:translateX(-100px) translateY(-200) scale(1.2);
    }

    100% {
        transform:translateX(-120px) translateY(-20px) scale(4);
    }
}

/* @keyframes basic {
    from {
        color: blue;
        transform: scale(1);


    }

    to {
        color: orange;
        transform: scale(2);


    } */

}